* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.Content {
  background-image: url(Asset/Headerbg@2x.png);
  background-size: contain;
}

.connect {
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.logo {
  float: left;
}

.menu-icon {
  float: right;
  font-size: 1rem;
  width: 20px;
  height: 20px;
}

.social {
  list-style: none;
  position: absolute;
  left: 0;
  display: flex;
  gap: 16px;
  margin: 0;
  justify-content: start;
  align-items: start;
}

.social li:last-child {
  margin-right: 0;
}

.social:first-child {
  margin-left: 0;
}

@media (min-width: 768px) {
  .Content {
    background-image: url(Asset/Headerbg@2x.png);
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-direction: column;
    padding: 40px;
  }

  .Content p {
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.4;
    margin: 5px 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 1px;
  }

  .socialMediaGroup h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
