.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-1{
    flex-basis: 100%;
}
@media (min-width: 768px) {
    .section-1 {
    flex-basis: 50%;
    }
}
.button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: darkblue;
}