*{
    font-family: 'Poppins';
    font-style: normal;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.Content {
    background-image: url(Asset/Headerbg@2x.png);
    background-size:contain;
}
.connect {
    color: #7F8CFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}

.logo {
    float: left;
}
.menu-icon {
    float: right;
    font-size: 1rem;
    margin: 0 40px;
    padding: 0 10px;
}
@media (min-width: 768px) {
    .Content {
        background-image: url(Asset/Headerbg@2x.png);
        background-size: contain;
        font-family: 'Poppins';
        font-style: normal;
        display: flex;
        align-items: center;
        color: #172B4D;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .Content p{
        flex: none;
        order: 1;
        flex-grow: 0;
        font-size: 16px; 
        line-height: 1.4; 
        margin: 10px 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        font-family: Poppins;
        padding: 20px;
    }
    .social{
        width: 117px;
        height: 24px;
        /* Body / 2 - Bolder */
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7F8CFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .socialMediaGroup h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7F8CFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

